.NewOrderPage {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    background-color: lightgrey;
    border-radius: 2vmin;
  }
  
  .menus {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vmin 2vmin;
    padding: 50px;
    gap: 25px;
  }
  
  .menus, .menu-items, .order-details {
    list-style: none;
  }
  
  .current-order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
